@model Web.Models.Admtszh

@{
    ViewBag.Title = "Профиль оператора";
    //  Layout = "~/Views/Shared/_LayoutUk.cshtml";
}


<h3>Профиль оператора</h3>
<br><a href="#/editoperprof"><i class="icon-cog"></i> Редактировать профиль</a>
<br><a href="#/manage"><i class="icon-pencil"></i> Изменить пароль</a>
<div>
    <br>@Html.DisplayNameFor(model => model.id_uk): @ViewData["uk_name"]
    <br>@Html.DisplayNameFor(model => model.post): @Html.DisplayFor(model => model.post)
    <br>@Html.DisplayNameFor(model => model.SurName): @Html.DisplayFor(model => model.SurName)
    <br>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
    <br>@Html.DisplayNameFor(model => model.Patronymic): @Html.DisplayFor(model => model.Patronymic)
    <br>
    <br>Дата регистрации: @WebSecurity.GetCreateDate(User.Identity.Name).ToLocalTime()
</div>

