@model Web.Models.Admtszh

@{
    ViewBag.Title = "profile";
    Layout = "~/Views/Shared/_LayoutUk.cshtml";
}


<h2>profile</h2><h4>Admtszh</h4>
<br>@Html.ActionLink("Редактировать профиль", "editprof")
<br>@Html.ActionLink("Изменить пароль", "Manage", "Login")
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_uk)
        </dt>

        <dd>
            @ViewData["uk_name"]
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.post)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.post)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SurName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

    </dl>
</div>

