<!DOCTYPE html>

<html lang="ru" ng-app="HomeApp">

<head>
   
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link href="~/Styles/bootstrap-dist/css/bootstrap.css" rel="stylesheet" />
    @*<link href="~/Styles/app.css" rel="stylesheet" />*@
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->



  </head>

<body >
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">ТСЖ</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">         
                    @Html.Action("menu_top", "Nav")
                    <li><a href="#/login">Вход</a></li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
    </nav><!-- /.navbar -->

            <div class="content_resize">
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-success">@TempData["message"]</div>
                }
                <div ng-controller="ApplicationCtrl">
                    <div lass="form-group">
                        <div>Ответ:</div>
                        <p ng-bind="status"></p>
                        <p ng-bind="data"></p>
                        <p>{{Session.id | json}}</p>                   
                        <p> {{Session.userRole}}</p>
                        <p ng-bind="Session.status "></p>
                        <div ng-if="Session.currentUser">Welcome, {{ Session.currentUser }}</div>
                        <div ng-if="isAuthorized(userRoles.admin)">You're admin.</div>
                        <div ng-switch on="currentUser.role">
                            <div ng-switch-when="userRoles.admin">You're admin.</div>
                            <div ng-switch-when="userRoles.editor">You're editor.</div>
                            <div ng-switch-default>You're something else.</div>
                            <p>куки: {{cookie}}</p>
                            <a href="/Login/logoout">Выйти</a>
                        </div>
                    </div>
                </div>



                    @RenderBody()
                </div>
             
        <footer>
            Все права защищены. CloudsSolution © 2015.
        </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        

    @RenderSection("Scripts", required: false)

</body>
</html>
