@model Web.Models.Counter_model_add

<style>
    .full button span {
        background-color: limegreen;
        border-radius: 32px;
        color: black;
    }

    .partially button span {
        background-color: orange;
        border-radius: 32px;
        color: black;
    }
</style>
<div ng-controller="AddMeterCtrl">
    <h3>Добавление счетчика </h3>
    <ul class="breadcrumb">
        <li><a href="#/meters">Данные по счетчикам</a> <span class="divider">/</span></li>
        <li><a href="#/datameters">Показания счетчиков</a> <span class="divider">/</span></li>
        <li><a href="#">Library</a></li>
    </ul>

    <form>
        @*@Html.AntiForgeryToken()*@

        <div class="form-horizontal">
            <hr />
            <span ng-show="response" class="label label-important">
                {{response}}
            </span>
            @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
            <div class="form-group">
                Выберите тип счетчика:
                <select required ng-model="meter.Type">
                    @*<option disabled>Выберите тип счетчика</option>*@
                    <option value="1">Газ</option>
                    <option value="2">Электроэнергия</option>
                    <option value="3">Холодная вода</option>
                    <option value="4">Горячая вода</option>
                </select>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Serial, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input class="form-control text-box single-line" type="text" ng-model="meter.Serial">
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.DateOfReview, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="meter.DateOfReview" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input class="form-control text-box single-line" type="text" ng-model="meter.Name">
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Measure, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input class="form-control text-box single-line" type="text" ng-model="meter.Measure">
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.firstdata, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input class="form-control text-box single-line" type="text" ng-model="meter.firstdata">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Добавить" class="btn btn-default" ng-click="submit(meter)">
                </div>
            </div>
        </div>
    </form>

    
    <pre> {{response}}</pre>
    <style>
        .full button span {
            background-color: limegreen;
            border-radius: 32px;
            color: black;
        }

        .partially button span {
            background-color: orange;
            border-radius: 32px;
            color: black;
        }
    </style>
    <div >
        <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>

        <h4>Inline</h4>
        <div style="display:inline-block; min-height:290px;">
            <uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="inlineOptions"></uib-datepicker>
        </div>

        <h4>Popup</h4>
        <div class="row">
            <div class="col-md-6">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>

            <div class="col-md-6">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Format: <span class="muted-text">(manual alternate <em>{{altInputFormats[0]}}</em>)</span></label> <select class="form-control" ng-model="format" ng-options="f for f in formats"><option></option></select>
            </div>
        </div>

        <hr />
        <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
        <button type="button" class="btn btn-sm btn-default" ng-click="setDate(2009, 7, 24)">2009-08-24</button>
        <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
        <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" uib-tooltip="After today restriction">Min date</button>
    </div>
</div>
