@model Web.Models.feedback

<div ng-controller="FeedbackCtrl">
    <form>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false)
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.id_uk)
        @Html.HiddenFor(model => model.id_user)

        <div class="form-horizontal">
            <fieldset>
                <legend>Форма обращения (заявок) в УК (ТСЖ)</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.id_user, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Action("getUser", "Login")
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2" for="title">Тема письма</label>
                        <div class="col-md-10">

                            <input class="text-box single-line" id="title" name="title" type="text" value="">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="message">Сообщение</label>
                        <div class="col-md-10">
                            <textarea cols="30" id="message" name="message" rows="5"></textarea>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Отправить" class="btn btn-default" ng-click="submit(model)">
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>

<div>
    @Html.ActionLink("Вернуться к профилю", "profile")
</div>
</div>
