@model IEnumerable<Web.Models.Counter_data>

@{
    ViewBag.Title = "Gas";
    Layout = "~/Views/Shared/_LayoutUk.cshtml";
}

<h2>Газовый счетчик</h2>

<p>
    @Html.ActionLink("Добавить газовый счетчик", "EditGas")
</p>

<p>
    @Html.ActionLink("Внести показания", "SetGas", "User")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.write)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.write)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data)
        </td>
    </tr>
}

</table>
