@model Web.Models.Counter_model

@{
    ViewBag.Title = "Gas";
    Layout = "~/Views/Shared/_LayoutUk.cshtml";
}

<h2>Газовый счетчик</h2>
@Html.ActionLink("Добавить газовый счетчик", "EditGas")
@foreach (var item in Model.ListCounter)
{
<div>
    @Html.ActionLink( item.place + " | " + item.status.ToString() , "EditGas", new { id = item.id })
</div>
}
<p>
    @Html.ActionLink("Внести показания", "SetGas", "User")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ListData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListData)
        </th>
    </tr>

@foreach (var item in Model.ListData) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.write)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data)
        </td>
    </tr>
}

</table>
